{{ define "main" }}
<div class="work">
  <h1 class="page-heading">{{ .Title }}</h1>
    <div class="work-content">
    {{ .Content }}
    </div>

  {{ range .Params.workItems }}
  <div class="work-item">
    {{ if .Params.image }}
    <img
      src="{{ .Params.image.src | absURL }}"
      alt="{{ .Params.image.alt }}"
      class="work-bubble"
    />
    {{ else }}
    <img
      src="{{ 'img/work/water.png' | absURL }}"
      alt="water pattern"
      class="work-bubble"
    />
    {{ end }}
    <span class="work-text">
      <strong>{{ .title }}</strong>
      &mdash;
      {{ .description }}
    </span>
  </div>
  {{ end }}

  {{ range where .Pages "Type" "!=" "contribution" }}
  <div class="work-item">
    {{ if .Params.image }}
    <img
      src="{{ .Params.image.src | absURL }}"
      alt="{{ .Params.image.alt }}"
      class="work-bubble"
    />
    {{ else }}
    <img
      src="{{ 'img/work/water.png' | absURL }}"
      alt="water pattern"
      class="work-bubble"
    />
    {{ end }}
    <span class="work-text">
      <strong>{{ .Title }}</strong>
      &mdash;
      {{ if .Description }}{{ .Description }}{{ end }}
      {{ .Content }}
    </span>
  </div>
  {{ end }}

  {{ with (where .Pages "Type" "contribution") }}
  <h2>Contributions</h2>
  {{ end }}
 
  {{ range where .Pages "Type" "contribution" }}
  <div class="work-item">
    {{ if .Params.image }}
    <img
      src="{{ .Params.image.src | absURL }}"
      alt="{{ .Params.image.alt }}"
      class="work-bubble"
    />
    {{ else }}
    <img
      src="{{ 'img/work/water.png' | absURL }}"
      alt="water pattern"
      class="work-bubble"
    />
    {{ end }}
    <span class="work-text">
      <strong>{{ .Title }}</strong>
      &mdash;
      {{ if .Description }}{{ .Description }}{{ end }}
      {{ .Content }}
    </span>
  </div>
  {{ end }}

</div>
{{ end }}
