<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h4>CONTACT</h4>

        <div class="social-links">
          {{ range .Site.Params.contact }}
            <div class="social-link contact-links">

              <img
                src="{{ printf "img/icons/%s.png" .name | lower | absURL }}"
                alt="{{ .name | lower }}"
              />
              <a href="{{ .link }}" id="{{ .name | lower }}-link">
                {{ if .value}}
                  {{ .value }}
                {{ else }}
                  {{ .name }}
                {{ end }}
              </a>
            </div>

          {{ end }}
        </div>
      </div>

      <div class="footer-col footer-col-2">
        <h4>FOLLOW</h4>

        <div class="social-links follow-links">
          {{ range .Site.Params.social }}
            <div class="social-link">

              <img
                src="{{ printf "img/icons/%s.png" .name | lower | absURL }}"
                alt="{{ .name | lower }}"
              />
              <a href="{{ .link }}">
                {{ .name }}
              </a>
            </div>

          {{ end }}
        </div>
      </div>

        <div class="footer-col footer-col-3 powered-by search-col">
          {{ if .Site.Params.searchEnabled }}
          <h4>SEARCH</h4>
          <form id="search-form">
            <input type="text" id="search-input" autocomplete="off">
          </form>
          <div id="search-results" style="display: none;"></div>
          {{ end }}

          {{ if not .Site.Params.notShowThemeInfo }}
          <p>
            powered by <a href="https://github.com/skowalak/bay">Bay</a> | {{ now.Format "2006" }}
          </p>
          {{ end }}
        </div>
    </div>
  </div>
</footer>

