<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  <!-- Primary Meta Tags -->
  <title>{{ .Site.Title }}</title>
  <meta name="title" content="{{ .Title }}"/>
  <meta name="author" content="{{ .Site.Author }}" />
  <meta name="description" content="{{ .Description }}"/>

  <!-- Open Graph -->
  <meta property="og:site_name" content="{{ .Site.Title }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ .Permalink }}"/>
  <meta property="og:locale" content="{{ .Language.Lang | default "en_US" }}" />
  <meta property="og:title" content="{{ .Title }}"/>
  <meta property="og:description" content="{{ .Description }}"/>
  {{ if .Params.og_image }}
  <meta property="og:image" content="{{ .Params.og_image | absURL }}"/>
  {{ else }}
  <meta property="og:image" content="{{ .Site.Params.og_image | absURL }}"/>
  {{ end }}

  {{/*<link rel="stylesheet" href="{{ "/assets/css/main.css" | absURL }}">*/}}
  {{ $scss := resources.Get "sass/main.scss" }}
  {{ $style := $scss | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | absURL }}" type="image/x-icon"/>

</head>
